body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.34;
  text-align: center;
  background-color: #091921;
  min-height: 100vh;
  flex-direction: column;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e91e63, #ffc107);
  clip-path: circle(22% at 30% 20%);
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffffff, #da00ff);
  clip-path: circle(20% at 70% 90%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea {
  outline: none;
}

button {
  cursor: pointer;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll {
  overflow: auto;
  scroll-behavior: smooth;
}
.scroll::-webkit-scrollbar {
  width: 0;
  visibility: hidden;
}

header {
  color: #fff;
  position: relative;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}
header img {
  width: 90px;
}

.container {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  overflow: hidden;
  z-index: 10;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  padding: 0px 30px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[disabled] {
  background-color: #091921;
  color: white;
  cursor: pointer;
}
input[disabled]:hover {
  background-color: #14ff47;
  color: #192400;
}
.leftBox {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  position: relative;
}

.sudokuBox {
  height: 50px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  background-color: #cecece;
  color: #192400;
}

.rightBox {
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.input {
  font-size: 21px;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  text-align: center;
  width: 280px;
  height: 250px;
}

.button {
  position: relative;
  width: 280px;
  height: 50px;
  margin: 10px 5px;
}

.button p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: #fff;
  backdrop-filter: blur(15px);
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  transition: 0.5s;
  overflow: hidden;
}
.button:hover p {
  letter-spacing: 3px;
}

.button p:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
}
.button:hover p:before {
  transform: skewX(45deg) translateX(150%);
}
.button::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transform: translateX(-50%);
  transition: 0.5s;
  transition-delay: 0s;
}
.button:hover::before {
  bottom: 0;
  width: 90%;
  height: 50%;
  border-radius: 30px;
  transition-delay: 0.5s;
}
.button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transform: translateX(-50%);
  transition: 0.5s;
  transition-delay: 0s;
}
.button:hover::after {
  top: 0;
  width: 90%;
  height: 50%;
  border-radius: 30px;
  transition-delay: 0.5s;
}
.resetButton::before,
.resetButton::after {
  background: #ff1f71;
  box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
    0 0 60px #ff1f71;
}
.submitInput::before,
.submitInput::after {
  background: #2bd2ff;
  box-shadow: 0 0 5px #2bd2ff, 0 0 15px #2bd2ff, 0 0 30px #2bd2ff,
    0 0 60px #2bd2ff;
}
.solverButton::before,
.solverButton::after,
.submitButton::before,
.submitButton::after {
  background: #1eff45;
  box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
    0 0 60px #1eff45;
}
textarea {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: #fff;
  backdrop-filter: blur(15px);
  z-index: 1;
  font-weight: 400;
}

textarea::placeholder {
  color: #fff;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.788);
  display: grid;
  place-items: center;
  display: none;
  z-index: 50;
}
.popUp {
  padding: 10px 50px;
  border: 1px solid black;
  box-shadow: 0px 0px 50px black;
  border-radius: 5px;
  background: whitesmoke;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
