body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.34;
  text-align: center;
  background-color: #091921;
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e91e63, #ffc107);
  clip-path: circle(22% at 30% 20%);
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffffff, #da00ff);
  clip-path: circle(20% at 70% 90%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea {
  outline: none;
}

button {
  cursor: pointer;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll {
  overflow: auto;
  scroll-behavior: smooth;
}
.scroll::-webkit-scrollbar {
  width: 0;
  visibility: hidden;
}

.container {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  overflow: hidden;
  z-index: 10;
  /* backdrop-filter: blur(15px); */
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[disabled] {
  background-color: rgb(20, 2, 27);
  color: white;
  cursor: pointer;
}
input[disabled]:hover {
  background-color: #14ff47;
  color: #192400;
}
.leftBox {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  position: relative;
}

.sudokuBox {
  height: 50px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  background-color: #cecece;
  color: #192400;
}

.rightBox {
  flex-direction: column;
  text-align: center;
}

.input {
  font-size: 21px;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  text-align: center;
  width: 280px;
  height: 250px;
}
